#main-img {
    Width: 984px;
    Height: 770px;
    position: absolute;
    Top: 0px;
    Left: 520px;
}


@font-face {
    font-family: 'Gotham Pro';
    src: url(./fonts/Gotham\ Pro\ Medium.ttf);
}

#logo1 {
    position: absolute;
    left: 120px;
    top: 20px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 32px;
    color: #252525;
}

.colortext1 {
    color: #252525;
}

.colortext {
    color: #5364ff
}

#logo {
    font-family: NeueMachina;
    font-weight: bold;
    font-size: 160px;
    color: #252525;
    position: absolute;
    left: 120px;
    top: 80px;
}



@font-face {
    font-family: 'NeueMachina';
    src: url(./fonts/NeueMachina-Bold.ttf);
}


.container {
    /*подпісі под главным логотипом*/
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: absolute;
    left: 120px;
    top: 440px;
    width: 285px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 20px;
    color: #252525;
}



#button {
    /*кнопка*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1250px;
    top: 48px;
    width: 163px;
    height: 40px;
    border: 1px solid #5364ff;
    border-radius: 300px;
    background-color: #5364ff;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.nav {
    /*меню (nav)*/
    display: inline-flex;
    width: 520px;
    justify-content: space-between;
    position: absolute;
    left: 700px;
    top: 60px;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -3%;
    color: #252525;
    text-decoration: none;
}

.nav:hover {
    text-decoration: underline;
}

.news,
.servis,
.portfolio,
.lido,
.contact {
    text-decoration: none;
    color: #252525;
    font-family: 'Gotham Pro';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: -3%;
}